<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_white_back"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_white_back"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".main_category.CategoryActivity"
            android:label="@string/all_about_ecology_label"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".all_about_ecology.AllAboutEcology"
            android:label="@string/app_name"
            android:parentActivityName=".main_category.CategoryActivity">
            <meta-data
                android:name="android.support.ALL_ABOUT_ECOLOGY"
                android:value=".CategoryActivity" />
        </activity>

        <!-- ViewPager Activities-->
        <activity
            android:name=".ecologists.EcologistsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".main_category.CategoryActivity">
            <meta-data
                android:name="android.support.SCIENTISTS"
                android:value=".CategoryActivity" />
        </activity>

        <!-- Chat Activities -->

        <activity
            android:name=".chat_button.SignInActivity"
            android:label="@string/app_name"
            android:parentActivityName=".main_category.CategoryActivity">
            <meta-data
                android:name="android.support.SCIENTISTS"
                android:value=".CategoryActivity" />
        </activity>

        <activity
            android:name=".chat_button.MainActivityChat"
            android:label="@string/app_name"
            android:parentActivityName=".main_category.CategoryActivity">
            <meta-data
                android:name="android.support.SCIENTISTS"
                android:value=".CategoryActivity" />
        </activity>

        <!-- Notes Activities -->

        <provider
            android:name=".other.data.NotesProvider"
            android:authorities="com.example.eco.notesprovider"
            android:exported="false" />

        <activity
            android:name=".other.NotesMainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".main_category.CategoryActivity">
            <meta-data
                android:name="android.support.SCIENTISTS"
                android:value=".CategoryActivity" />
        </activity>

        <activity
            android:name=".other.NotesEditorActivity"
            android:label="@string/app_name"
            android:parentActivityName=".other.NotesMainActivity">
            <meta-data
                android:name="android.support.SCIENTISTS"
                android:value=".CategoryActivity" />
        </activity>

        <!-- Books Activities -->

        <activity
            android:name=".book.BookMainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".main_category.CategoryActivity">

        </activity>


    </application>

</manifest>